{"swagger":"2.0","info":{"description":"ATP-api that will be used by I Pay in order to check availability for each product of the basket within a particular slice/offset.","version":"1.0.0","title":"ATP_api"},"host":"app.grizzly-api.com","basePath":"/runtime/6203b7921615636a09a5c0f8","tags":[{"name":"Authentication Grizzly","description":"JWT token"},{"name":"ATS"},{"name":"ATP-api"}],"paths":{"/allusers":{"get":{"tags":["Authentication Grizzly"],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"token":[]}]}},"allroles":{"get":{"tags":["Authentication Grizzly"],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"token":[]}]}},"/me":{"get":{"tags":["Authentication Grizzly"],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"token":[]}]}},"/v3/store/{store}/product/{product}/stock":{"get":{"tags":["ATS"],"description":"API de consultation des stocks d'un magasin pour un produit","produces":["application/json"],"parameters":[{"name":"store","in":"path","description":"l'ID METI du magasin","required":true,"type":"string"},{"name":"product","in":"path","description":"l'ID ean du produit","required":true,"type":"string"},{"name":"type","in":"query","description":"Type de code produit","required":false,"type":"string","default":"ean","enum":["ean"]}],"responses":{"200":{"description":"Cas nominal"},"400":{"description":"Invalid ID supplied"},"404":{"description":"Produit ou magasin inexistant"}}}},"/grant":{"put":{"tags":["Authentication Grizzly"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"username","in":"query","required":false,"type":"string"},{"in":"body","name":"body","description":"roles model","required":true,"schema":{"$ref":"#/definitions/roles"}}],"responses":{"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"token":[]}]}},"/signin":{"post":{"tags":["Authentication Grizzly"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"SignIn Model","required":true,"schema":{"$ref":"#/definitions/signIn"}}],"responses":{"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/updateuser":{"put":{"tags":["Authentication Grizzly"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"username","in":"query","required":false,"type":"string"},{"in":"body","name":"body","description":"User model","required":true,"schema":{"$ref":"#/definitions/authUser"}}],"responses":{"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"token":[]}]}},"/v2/stocks":{"post":{"tags":["ATS"],"description":"This endpoint return stocks availability/quantity for a list of products in the demanded store within a particular slice/offset.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/requestBodyStocks"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Could not read document || Bad parameters ! meti_id ,slice, offset, products are required"},"500":{"description":"Internal Server Error"},"404":{"description":"Store not found"}}}},"/deleteuser":{"delete":{"tags":["Authentication Grizzly"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"username","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"token":[]}]}},"/v1/storesStocks":{"post":{"tags":["ATP-api"],"description":"This endpoint return stocks availability/quantity for a product in a list of the demanded stores.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/requestBodyStoresStocks"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Could not read document || Bad parameters"},"500":{"description":"Internal Server Error"},"404":{"description":"Store not found"}}}},"/signup":{"post":{"tags":["Authentication Grizzly"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"SignUp Model","required":true,"schema":{"$ref":"#/definitions/signUp"}}],"responses":{"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/activate":{"post":{"tags":["Authentication Grizzly"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"username","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Ok"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"token":[]}]}}},"securityDefinitions":{"token":{"description":"Standard Authorization header using the Bearer scheme. \n\n Value example: \"Bearer {token}\"","type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"quantity":{"properties":{"real":{"type":"number"},"to_sell":{"type":"number"}},"title":"quantity"},"requestBodyStoresStocks":{"type":"object","required":["meti_ids","product_ids"],"properties":{"meti_ids":{"type":"array","example":["1","353","123"],"description":"List of stores identifiers. (<b><u>must be METI ID</u></b>)","items":{"type":"string"}},"identifier":{"type":"string","example":"ean","description":"Product identifier type (ean/cdbase)"},"product_ids":{"type":"array","example":["3274080001005","3017620422003","5000112611861"],"description":"List of products identifiers.","items":{"type":"string"}},"offset":{"type":"integer","example":1,"description":"Offset in days. 1 = today, 2= tomorrow, ..."},"slice":{"type":"string","example":"A","description":"The slice of day. \"A\" or \"B\""}},"title":"requestBodyStoresStocks"},"responseGetStock":{"type":"object","properties":{"ownerStoreId":{"type":"string","example":353,"description":"ID of the store (<b><u>must be METI ID</u></b>)"},"product_id":{"type":"string","example":3274080001005,"description":"Products identifier."},"insertTs":{"type":"string","description":"Creation date and time"},"stocks":{"type":"array","example":[{"offset":1,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":1,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}}],"items":{"$ref":"#/definitions/stockItem"}}},"title":"responseGetStock"},"roles":{"properties":{"roles":{"type":"array","items":{"type":"string"}}},"title":"roles"},"authUser":{"properties":{"_id":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"},"firstname":{"type":"string"},"lastname":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"}},"title":"authUser"},"requestBodyStocks":{"type":"object","required":["meti_id","offset","product_ids","slice"],"properties":{"meti_id":{"type":"string","example":353,"description":"ID of the store (<b><u>must be METI ID</u></b>)"},"slice":{"type":"string","example":"A","description":"The slice of day. \"A\" or \"B\""},"offset":{"type":"integer","example":2,"description":"Offset in days. 1 = today, 2= tomorrow, ..."},"identifier":{"type":"string","example":"ean","description":"Product identifier type (ean/cdbase)"},"product_ids":{"type":"array","example":["cdbase1","cdbase2","cdbase3"],"description":"List of products identifiers.","items":{"type":"string"}}},"title":"requestBodyStocks"},"signUp":{"properties":{"username":{"type":"string"},"password":{"type":"string"},"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"phone":{"type":"number"}},"title":"signUp"},"storeStockSliceItem":{"type":"object","properties":{"product_id":{"type":"string"},"owner_facility_id":{"type":"string"},"quantity":{"$ref":"#/definitions/quantity"},"available":{"type":"boolean"},"product_found":{"type":"boolean"}},"title":"storeStockSliceItem"},"error_message_404":{"type":"string","properties":{"message":{"type":"string","example":"Store not found"}},"title":"error_message_404"},"storeStockItem":{"type":"object","properties":{"owner_facility_id":{"type":"string","example":353,"description":"ID of the store (<b><u>must be METI ID</u></b>)"},"product_id":{"type":"string","example":3274080001005,"description":"Products identifier."},"product_found":{"type":"boolean"},"insertTs":{"type":"string","description":"Creation date and time"},"stocks":{"type":"array","example":[{"offset":1,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":1,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}}],"items":{"$ref":"#/definitions/stockItem"}}},"title":"storeStockItem"},"responseStoresStocks":{"type":"object","properties":{"count":{"type":"integer","example":3},"data":{"type":"array","example":[{"owner_facility_id":"1","product_id":"3274080001005","product_found":true,"insertTs":"2021-01-30T14:25:36.789+0000","stocks":[{"offset":1,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":1,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}}]},{"owner_facility_id":"1","product_id":"3017620422003","product_found":true,"insertTs":"2021-01-30T14:25:36.789+0000","stocks":[{"offset":1,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":1,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}}]},{"owner_facility_id":"1","product_id":"5000112611861","product_found":true,"insertTs":"2021-01-30T14:25:36.789+0000","stocks":[{"offset":1,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":1,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}}]},{"owner_facility_id":"353","product_id":"3274080001005","product_found":true,"insertTs":"2021-01-30T14:25:36.789+0000","stocks":[{"offset":1,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":1,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}}]},{"owner_facility_id":"353","product_id":"3017620422003","product_found":false},{"owner_facility_id":"353","product_id":"5000112611861","product_found":true,"insertTs":"2021-01-30T14:25:36.789+0000","stocks":[{"offset":1,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":1,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":2,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":3,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"A","available":true,"quantity":{"real":1000,"to_sell":995}},{"offset":4,"slice":"B","available":true,"quantity":{"real":1000,"to_sell":995}}]},{"owner_facility_id":"123","product_id":"3274080001005","product_found":false},{"owner_facility_id":"123","product_id":"3017620422003","product_found":false},{"owner_facility_id":"123","product_id":"5000112611861","product_found":false}],"items":{"$ref":"#/definitions/storeStockItem"}}},"title":"responseStoresStocks"},"signIn":{"properties":{"username":{"type":"string"},"password":{"type":"string"}},"title":"signIn"},"stockItem":{"type":"object","required":["available","offset","quantity","slice"],"properties":{"offset":{"type":"integer","example":1,"description":"Offset in days. 1 = today, 2= tomorrow, ..."},"slice":{"type":"string","example":"A","description":"The slice of day. \"A\" or \"B\""},"available":{"type":"boolean"},"quantity":{"$ref":"#/definitions/quantity"}},"title":"stockItem"},"responseStocks":{"type":"object","properties":{"count":{"type":"integer","example":1},"data":{"type":"array","items":{"$ref":"#/definitions/storeStockSliceItem"}}},"title":"responseStocks"},"error_message_400":{"type":"string","properties":{"message":{"type":"string","example":"Could not read document"}},"title":"error_message_400"},"error_message_500":{"type":"string","properties":{"message":{"type":"string","example":"Internal Server Error"}},"title":"error_message_500"}}}